/* Home Page */

.navbar {
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
/*logo*/
.navbar-brand img {
    height: 60px;
}

.nav-link {
    color: #4682B4 !important; /* Couleur d'origine plus foncée pour les liens */
    font-weight: bold;
    transition: color 0.3s ease; /* Transition pour un effet plus fluide */
}

.nav-link:hover {
    color: #5A9BD4 !important; /* Couleur légèrement plus claire au survol */
}

/* Image sous la navbar */
.header-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: all 0.3s ease; /* Transition fluide */
    filter: contrast(1.1) brightness(1.1); /* Ajuste la luminosité et le contraste */
}

